<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <p class="navbar-brand m-2" href="">To Do List</p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link text-light" href="add-item">Add Item</a>
      <a class="nav-item nav-link text-light" href="view-list">View Your List</a>
      <a class="nav-item nav-link text-light" href="login">Login/Register</a>
    </div>
  </div>
</nav>
